{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" style="border-radius: 50%;" alt="100x100" src="{{ user.profile.image.url }}">
      <div class="media-body">
       <h2 class="account-heading">{{ user.profile.full_name }}</h2>
       
      </div>
    <div class="p-4 mb-3 bg-white">
      <legend class="border-bottom mb-4">Profile Info</legend>
      
      
      <!-- <a href="{% url 'profile' %}">Add Address</a> -->
      
      <p class="mb-0 font-weight-bold">Full Name: {{ user.profile.full_name }}</p>
      
      <p class="mb-0 font-weight-bold">Gender: {{ user.profile.sex }}</p>

      <p class="mb-0 font-weight-bold">Age: {{ user.profile.age }}</p>

      <p class="mb-0 font-weight-bold">Phone: {{ user.profile.phone }}</p>
      
      <p class="mb-0 font-weight-bold">Email Address: {{ user.email }}</p>
      
      <p class="mb-0 font-weight-bold">Address: {{ user.profile.address }}</p>
      
      <!-- <a href="{% url 'profile' %}">Add Email</a> -->
    </div>
    <div>
     
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'profile_update' %}">Edit Profile</a>
    </div>
   
  </div>
</div>

{% endblock content %}